@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        <h1>Bienvenue sur English Battle !</h1>
        <p class="lead">
            Exercez-vous a trouver les participes passés et
            prétérits des verbes irréguliers en anglais.
            <br />
        </p>
    </div>
    <div>

    <p>Veuillez vous connecter pour commencer.</p>
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="btn btn-primary btn-md">Se connecter</div>
        <div class="btn btn-link">@Html.ActionLink("S'inscrire", "Subscription", "Account")</div>
    </form>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-12">
        <h2>Hall of fame</h2>
        <ul class="list-unstyled">
            <li>Charlie Martin - 100 verbes</li>
            <li>Yann Mortier - 88 verbes</li>
        </ul>
    </div>
</div>
